<h1>Edit Book Details</h1>
<% p @book %>
<%= form_tag(book_edit_path, method: "put") do %>
  <p>
    <%= label_tag(:title, "Book Title") %>
    &nbsp;
    <%= text_field_tag(:name, nil, placeholder: @book.title) %>
    <br>
    <%= label_tag(:date_of_birth, "Date of Birth") %>
    &nbsp;
    <%= date_field(:author, :date_of_birth) %>
  </p>
  <p>
    <%= submit_tag("Update Book") %>
  </p>
<% end %>